body{
  /*   overflow:scroll;
    overflow-x:hidden; */
}
.tab_pc {
	display: block;
}

.tab_mb {
	display: block;
}

.hi {
	display: none;
}

.a_login {
	text-align: right;
	padding-right: 35px;
}
a:hover{
	color:red;
	
	
}


 .pc_style {
	font-size: 20px;
}

.mb_style {
	font-size: 35px;
} 


.div1 {
	background-color:
}

.img{
	margin: 5px;
}

.imgdiv {
	float: center;
	
}

.dropbtn{
	color: blue;
}
.imgview{
	





}
.dl{
	
}

.dropdown {
	
    display: inline-block;
}
.dropdown-content {
	
    display: none;
    position: absolute;
    min-width: 70px;
}
.dropdown-content a {
    color: black;
   
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.tabpc{
	font-size: 20px;
	
	
}
.tabmb{
	
	
	font-size: 50px;
}

#browse{
    order: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    background-color: #2c9a8a;
    color: #fff;
}

